@import 'root.css';

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--standard-seperation-margin);
}
.about-section h2 {
font-weight: var(--h2-font-weight);
font-family: var(--head-font);
border-radius: 10px;
text-align: center;
font-size: var(--h2-font-size-mobile);
width: 50%;
text-align: center;
border: solid black 2px;   
}

.about-content {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 5vh 20px;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: var(--main-font);
}

/* desktop */

@media (min-width:1024px) {
    .contact-section h2 {
        font-size: var(--h2-font-size-desktop);
    }

 }
