@import 'root.css';

.post-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 20px;
}

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;

}
.post-container h2 {
  font-family: var(--head-font);
  padding-bottom: 50px;
  max-width: 700px;
  font-size: var(--h2-font-size-mobile);
}

.post-image {
  max-width: 600px;

}
.post-container img {
    width: 100%;

}
.text-box {
    display: flex;
    gap: 20px;
    flex-direction: column;
    font-family: var(--main-font);
    color: var(--default-black-text-color);
    margin: var(--standard-seperation-margin);
}

.post-container p {


}

.modal {
    display: none; 
    position: fixed; 
    z-index: 99; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4);
  }
  

  .modal-content {
    margin: 3% auto; 
    width: 60%;
    height: 90%; 
  }
  .modal-content img {
    height: 100%;
  }
  
  /*Desktop */

  @media (min-width:1024px) {
    .contact-section h2 {
        font-size: var(--h2-font-size-desktop);
    }

 }
