@import 'root.css';

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 0;
}
#form {
    display: flex;
    flex-direction: column;
}

.contact-me {
    width:100%;
    max-width: 700px;
    height: 500px;
    border: var(--green-border);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: var(--main-font);
}

.contact-me div:nth-child(+1n+2) {
    display: flex;
    flex-direction: column;
    align-items: center;


}
.name-email-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.name-email-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-me * span {
    color: red;
}
.email-container {


}
.subject-container {

    
}
.message-container {


}

/* form items*/
input[type=textarea] {
  resize: vertical;
  border-radius:15px;
  padding: 10px;
  box-shadow:var(--box-shadow);
  
}
#name { 
    width: 600px;
    max-width: 200px;

}
#email {
    width: 600px;
    max-width: 200px;

}

#subject {
    width: 1000px;
    max-width: 300px;

}

#message {
    width: 1000px;
    max-width: 600px;

}

#success {
    
}
button {
    width: 150px;
    padding: 20px;
    background-color: black;
    color: white;
    border: solid white 2px;
    border-radius: 10px;
}