@import 'root.css';

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--standard-seperation-margin);
}
.contact-section h2 {
    font-weight: var(--h2-font-weight);
    font-family: var(--head-font);
    border-radius: 10px;
    text-align: center;
    font-size: 1.4rem;
    width: 50%;
    text-align: center;
    border: solid black 2px;
}
#form {
    display: flex;
    flex-direction: column;
    margin: var(--standard-seperation-margin);
}

.contact-me {
    width:100%;
    max-width: 800px;
    height: 500px;
    border: var(--green-border);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: var(--main-font);
}

.contact-me div:nth-child(+1n+2) {
    display: flex;
    flex-direction: column;
    align-items: center;



}
.name-email-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.name-email-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-me * span {
    color: red;
}
.email-container {


}
.subject-container {

    
}
.message-container {


}

/* form items*/
input[type=textarea] {
  resize: vertical;
  box-shadow:var(--box-shadow);
  border-radius:15px;
  padding: 10px;
}
textarea {
    resize: vertical;
    box-shadow:var(--box-shadow);
    border-radius:15px;
    height: 200px;
    width: 100vw;
    max-width: 600px;

}
textarea::placeholder{
    padding: 5px;
    font-size: 1.3rem;
}
textarea::after{
    padding: 20px;
    font-size: 1.3rem;

}
#name { 


}
#email {


}

#subject {
    width: 100vw;
    max-width: 300px;


}

#message {


}

#success {
    
}
#submit-button {
    width: 150px;
    padding: 20px;
    border: solid var(--secondary-color) 2px;
    border-radius: 10px;
}
#submit-button:hover {
    cursor: pointer;

}