@import 'root.css';

.intro {
    background-color: var(--main-bg);
    color: var(--secondary-color);
    font-family: var(--head-font);
    font-size: 1.2rem;
    padding: 10px;
}
.header-section {
    margin-top: 2vh;
    display:flex;
    justify-content: center;
}

@media (min-width:1024px) {
    .intro {
        padding-left: 10%;
    }
 }

/*
.head-image {
    background-image: url(../images/profile1.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-clip: border-box;
    max-width: 600px;
    margin: 0 10px;
    height: 400px;
}   

*/