* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors and borders*/
    --secondary-color:#60af05;
    --main-bg: #222;
    --body-color: #E5E5FE;
    --new-body-color: #e0dfdf;
    --default-text-color:white;
    --default-black-text-color:black;
    --default-text-hover: rgba(255, 255, 255, 0.941);
    --green-border: solid var(--secondary-color) 3px;
    --image-border-radius: 15px 15px 0 0;
    --card-border-radius:15px;
    --box-shadow:4px 4px 20px rgba(0,0,0,0.1);
    --card-box-shadow: 5px 10px #888888;
    /*fonts */
    --head-font: 'Space Grotesk', sans-serif;
    --main-font: 'Roboto', sans-serif;
    --h2-font-weight: 700;
    --h2-font-size-desktop:1.8rem;
    --h2-font-size-mobile:1.6rem;;
    
    --standard-seperation-margin:5vh 0;
}

body {
    display: grid;
    grid-template-areas: 
    'head'
    'main'
    'footer';
    background-color: var(--new-body-color);
    height: fit-content;
}

a {
    text-decoration: none;
    color: var(--default-text-color);
}
/* Header */
header {
    grid-area: head;

}
/* mobile header*/
.another {
    color: var(--default-text-color);
}
.logo {
    padding: 13px 20px;
    font-size: 1.4rem;
}

.mobile-nav {
    height: fit-content;
    background-color: var(--main-bg);
    border-bottom: var(--green-border);
    font-family: var(--head-font);
    color: var(--secondary-color);
}
.mobile-burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: absolute;
    top: 8%;
    transform: translateY(-130%);
    transition: transform 0.3s;
    width: 100%;
    height: fit-content;
    z-index: 3;
    background-color: var(--main-bg);
    color: var(--default-text-color);
    list-style: none;
    padding: 6vh 0px;
    border-bottom: var(--green-border);
    border-top: var(--green-border);
}

.mobile-burger li {
    width: 100%;
}
.mob-item {
    display: block;
    font-size: 1.1rem;
    color: var(--default-text-color);
    border-bottom: 1px solid white;
    text-align: center;
    font-weight: 500;
}
.mob-item:hover {
    transform: translateY(-5%);
    transition: transform 1.0s;
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
}
.showMenu {
    transform: translateY(0%);
  }

.mob-button {
    position: absolute;
    z-index: 4;
    top: 10px;
    right: 15px;
    padding: 5px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 10%;
  }


.fa-xmark {
    display: none;
}

.desktop-nav {
    display: none;
}

main {
    grid-area: main;
    height: fit-content;
}

footer {
    grid-area: footer;
    background-color: var(--main-bg);
    margin-top: 5vh;
    width: 100%;

}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 20px;
    padding-bottom: 20px;
    color: var(--default-text-color);
    font-family: var(--main-font);
    font-weight: 300;
}

.social-media {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.social-media h3 {
    font-weight: 400;
    font-size: 1rem;
}
.social-media a {
    font-size: 0.9rem;
}

/* desktop header */

@media (min-width:1024px) {
    header {
        display: flex;
        justify-content: center;
        height: fit-content;
        background-color: var(--main-bg);
        border-bottom: var(--green-border);
        font-family: var(--head-font);
        color: var(--secondary-color);
    }
    .mobile-nav {
        display: none;
    }
    .desktop-nav {
        display: flex;
        flex-direction: row;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 30px;
        padding: 13px 20px;
        list-style-type: none;

    }
    .nav-links a {
        font-size: 1.4rem;
    }
    .desktop-item:hover {
        color:var(--secondary-color);
    }
}

/* Loader */

.loader {
    position: fixed;
    width: 100px;
    height: 100px;
    border: 10px solid black;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    }
    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
        }