* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --secondary-color:#60af05;
    --main-bg: #222;
    --body-color: #E5E5FE;
    --default-text-color:white;
    --test-color: #D26BE3;
    --green-border: solid var(--secondary-color) 3px;
    --head-font: 'Space Grotesk', sans-serif;
    --main-font: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-areas: 
    'head'
    'main'
    'footer';
}

a {
    text-decoration: none;
    color: var(--default-text-color);
}
/* Header */
header {
    grid-area: head;

}
/* mobile header*/
.another {
    color: var(--default-text-color);
}
.logo {
    padding: 10px 20px;
}

.mobile-nav {
    height: fit-content;
    background-color: var(--main-bg);
    border-bottom: var(--green-border);
    font-family: var(--head-font);
    color: var(--secondary-color);
    z-index: 4;
}
.mobile-burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: absolute;
    top: 8%;
    transform: translateY(-130%);
    transition: transform 0.3s;
    width: 100%;
    height: fit-content;
    z-index: 3;
    background-color: var(--main-bg);
    color: var(--default-text-color);
    list-style: none;
    padding: 2rem 0;
    border-bottom: var(--green-border);
}

.mobile-burger li {
    width: 100%;
}
.mob-item {
    display: block;
    margin-top: 5px;
    font-size: 1.2rem;
    color: var(--default-text-color);
    border-bottom: 2px solid white;
    text-align: center;
    font-weight: 500;
}
.showMenu {
    transform: translateY(0%);
  }

.mob-button {
    position: absolute;
    z-index: 4;
    top: 10px;
    right: 15px;
    padding: 5px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 10%;
  }


.fa-xmark {
    display: none;
}

.desktop-nav {
    display: none;
}

main {
    grid-area: main;
    height: fit-content;
    height: 75vh;
}

footer {
    grid-area: footer;
    background-color: var(--main-bg);
    margin-top: 5vh;

}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    margin-top: 20px;
    padding-bottom: 20px;
    color: var(--default-text-color);
    font-family: var(--main-font);
    font-weight: 300;
}

.social-media {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.social-media h3 {
    font-weight: 400;
    font-size: 1rem;
}
.social-media a {
    font-size: 0.8rem;
}

@media (min-width:1024px) {
    .mobile-nav {
        display: none;
    }
    .desktop-nav {
        display: flex;
        flex-direction: row;
        background-color: var(--main-bg);
        border-bottom: var(--green-border);
        font-family: var(--head-font);
        color: var(--secondary-color);
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 30px;
        padding: 14px 20px;
        list-style-type: none;
    }
    .nav-links a {
        font-size: 1.2rem;
    }

}